modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libev", "openssl", "postgresql", "yt-dlp"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot Server"

[[workflows.workflow]]
name = "Telegram Bot Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m gunicorn --bind 0.0.0.0:5000 --reuse-port --reload --workers 4 --threads 2 --timeout 120 main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[userenv]

[userenv.shared]
BOT_TOKEN = "8488657540:AAEdxSgMh58TqMNQeh1zW2K2OEoQFl8Fwig"
OWNER_ID = "1901997764"
TELEGRAM_API_ID = "9049867"
TELEGRAM_API_HASH = "972c0f2e94973b5ffa9a89cb34e5671b"
